<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
<canvas id="particles"></canvas>
  <main class="container" >

    <div class="container-center">
      <div>
        <h1>Welcome back,<span class="highlight" id="username">Alex</span></h1>
      </div>

      <div>
        <a href="mining.html" class="btn primary big">
          ⛏ Go Mining
        </a>
      </div>

      <div>
        <button onclick="logout()" class="btn logout">
          Logout
        </button>
      </div>
    </div>

  </main>

  <script src="../controllers/home.js"></script>

</body>
</html>
