<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mining</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="shortcut icon" href="../assets/icons/favicon.ico" type="image/x-icon">
</head>
<body>

     <div class="container">
        <div class="logo">
            ⛏️ <span>Mining</span>
        </div>

        <h1>ENTRAR</h1>

        <div class="input-group">
            <label>Nome de Usuário</label>
            <input id="userName" type="text" placeholder="Digite seu nickname">
        </div>

        <div class="input-group">
            <label>Senha</label>
            <input id="passWord" type="password" placeholder="Digite sua senha">
        </div>

        <button onclick="login()" class="btn">ENTRAR 🚀</button>
        <small id="erroSenha" style="color: red; display: none;">
            Usuário/Senha incorretos
        </small>


        <div class="footer">
            Não tem conta? <a href="../views/register.html">Criar conta</a>
        </div>
    </div>

    <script src="../controllers/login.js"></script>
</body>
</html>