<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mining</title>
    <link rel="stylesheet" href="../styles/mining.css">
    <link rel="shortcut icon" href="../assets/icons/favicon.ico" type="image/x-icon">
</head>
<body>
    
        <div id="username1">
            <h1 id="username" ></h1>
            
            

            <progress id="nivelBar" max="100" value="0"></progress>
            <div id="nivelInfo">
                <p id="nivel">lvl</p>
                <p id="nivelNumber">0</p>
            </div>
        </div>

            <button onclick="logout()" class="btn logout" id="logoutBtn">Logout</button>

    <div id="clickButton">       
        <div id="display" style="text-align: center; ">
            <img id="img" src="" alt="">
        </div>

            <div id="mineriosBox">
                <h1 id="mineriosTitulo">Minérios</h1>
                <p id="minerioPedra">Pedras x0</p>
                <p id="minerioPrata">Prata x0</p>
                <p id="minerioOuro">Ouro x0</p>
                <p id="minerioPlatina">Platina x0</p>
                <p id="minerioDiamante">Diamante x0</p>
                <p id="minerioBitCoin">BitCoin x0</p>
            </div>

            <div id="ultimoMinerioBox">
                <p id="ultimoMinerioTitulo">Último minério</p>
                <p id="ultimoMinerioNome">Mining!</p>
            </div>

        <div id="botaoCarregamento">

            <div style="margin-top: 500px;"><progress id="bar" max="100" value="0"></progress></div>
            <button id="minerar" onclick="minerar()">Mining!</button>
            
        </div>

    </div>

    <script src="../controllers/mining.js"></script>
</body>
</html>