<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mining</title>
    <link rel="stylesheet" href="../styles/Register.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="logo">
            ⛏️ <span>Mining  </span>
        </div>

        <h1>CRIAR CONTA</h1>

        
            <div class="input-group">
                <label>Nome de Usuário</label>
                <input id="userName" type="text" placeholder="Digite seu nickname">
            </div>

            <div class="input-group">
                <label>Senha</label>
                <input id="passWord" type="password" placeholder="Crie uma senha">
            </div>

            <div class="input-group">
                <label>Confirmar Senha</label>
                <input id="confirmPassWord" type="password" placeholder="Confirme sua senha">
            </div>

            <button class="btn" onclick="registerUser()">CRIAR CONTA 🚀</button>
        

        <div class="footer">
            Já tem conta? <a href="../views/login.html">Entrar</a>
        </div>
    </div>

    <script src="../controllers/Register.js"></script>
</body>
</html>