<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mining</title>
    <link rel="stylesheet" href="../styles/register.css">
    <link rel="shortcut icon" href="../assets/icons/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="logo">
            ⛏️ <span>Mining  </span>
        </div>

        <h1>CRIAR CONTA</h1>

        
            <div class="input-group">
                <label>Nome de Usuário</label>
                <input id="userName" type="text" placeholder="Digite seu nickname">
                
            </div>

            <div class="input-group">
                <label>Senha</label>
                <input id="passWord" type="password" placeholder="Crie uma senha">
            </div>

            <div class="input-group">
                <label>Confirmar Senha</label>
                <input id="confirmPassWord" type="password" placeholder="Confirme sua senha">
            </div>

            <button class="btn" onclick="registerUser()">CRIAR CONTA 🚀</button>
            <small id="userExist" style="color: red; display: none;">
                
                </small>
        

        <div class="footer">
            Já tem conta? <a href="../views/login.html">Entrar</a>
        
        
        </div>
        
        
    </div>
        
    <div id="telaSucesso" class="oculto">
            <div class="box">
                <h2>Usuário registrado!</h2>
                <p>Clique no botão abaixo para entrar e realizar login.</p>
                <a href="../views/login.html"><button >Entrar</button></a>
            </div>
        </div>


    
    <script src="../controllers/register.js"></script>
</body>
</html>